alias gitroot='cd $(git rev-parse --show-toplevel) && echo "$_"'
alias gf='git commit --fixup'
alias gs='git status'
alias gl='git log --oneline'
alias cfg='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias cs='cfg status'
alias ca='cfg add'
alias cl='cfg log --oneline'
alias cai='cfg add -i'
alias cap='cfg add -p'
alias cc='cfg commit'
alias cdw='cfg diff --word-diff'
alias cdws='cfg diff --word-diff --staged'
alias dul='diskutil list'
alias dun='diskutil unmount'